#top-pictures {
    display:flex;
    flex-direction:row-reverse;
    align-content:center;
    background-color: aliceblue;
    margin: 25px;
}

.play-images {

    margin: 15px;
    width: 5vw;
    height: 5vw;
}

#headline {
    display:flex;
    margin: 125px;
    align-content:center;
    
}


.image {
    width: 20vw;
    height: 20vw;
    
}

body{
    background: rgb(248, 192, 200);
    min-height:100vh;
    
    color:#fff;
}
  
select{
    border:red;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:b;
}

.button {
    background-color: white;
    outline: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:30vw;
    margin: 20px;
}

.text{
    color:white;
    font-family: 'Palatino', Courier, monospace;
    width: 50vw;
    margin:30px;
}

.recommendation-image {
    text-align: center;
}

